In [4]:
import pandas as pd
import os
from os.path import join
# from bs4 import BeautifulSoup
# import requests

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

In [5]:
data_dir = "..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp"

In [6]:
files = []
for file in os.listdir(data_dir):
    files.append(join(data_dir, file))

In [145]:
admissions = pd.read_csv(files[0], usecols=['subject_id', 'hadm_id','dischtime'])
admissions.head()

   subject_id   hadm_id            dischtime
0    10000032  22595853  2180-05-07 17:15:00
1    10000032  22841357  2180-06-27 18:49:00
2    10000032  25742920  2180-08-07 17:50:00
3    10000032  29079034  2180-07-25 17:55:00
4    10000068  25022803  2160-03-04 06:26:00

In [148]:
diagnoses = pd.read_csv(files[1])
diagnoses.head()

   subject_id   hadm_id  seq_num icd_code  icd_version
0    10000032  22595853        1     5723            9
1    10000032  22595853        2    78959            9
2    10000032  22595853        3     5715            9
3    10000032  22595853        4    07070            9
4    10000032  22595853        5      496            9

## Prescriptions

In [497]:
medication = pd.read_csv(files[-5], dtype={'ndc':str}, nrows=100)
medication.columns

Index(['subject_id', 'hadm_id', 'pharmacy_id', 'poe_id', 'poe_seq',
       'order_provider_id', 'starttime', 'stoptime', 'drug_type', 'drug',
       'formulary_drug_cd', 'gsn', 'ndc', 'prod_strength', 'form_rx',
       'dose_val_rx', 'dose_unit_rx', 'form_val_disp', 'form_unit_disp',
       'doses_per_24_hrs', 'route'],
      dtype='object')

In [505]:
import pandas as pd
import numpy as np

# assuming this is your data
medications = pd.DataFrame({
    'ndc': ['ndc1', 'ndc2', 'ndc3', 'ndc1', 'ndc2'],
    'drug': ['drug1', 'drug2', 'drug3', 'drug1', 'drug2']
})

ndc_atc_map = pd.DataFrame({
    'NDC': ['ndc1', 'ndc1', 'ndc2', 'ndc2', 'ndc3', 'ndc3'],
    'atc5': ['atc1', 'atc2', 'atc3', 'atc4', 'atc5', 'atc6']
})

def get_random_atc5(ndc):
    atc5_codes = ndc_atc_map[ndc_atc_map['NDC'] == ndc]['atc5']
    return np.random.choice(atc5_codes)

medications['atc5'] = medications['ndc'].apply(get_random_atc5)

print(medications)

    ndc   drug  atc5
0  ndc1  drug1  atc2
1  ndc2  drug2  atc4
2  ndc3  drug3  atc6
3  ndc1  drug1  atc1
4  ndc2  drug2  atc3

In [513]:
import sys
if "C:\\Users\\fjn197\\PhD\\projects\\PHAIR\\pipelines\\ehr_preprocess\\ehr_preprocess" not in sys.path:
    sys.path.append("C:\\Users\\fjn197\\PhD\\projects\\PHAIR\\pipelines\\ehr_preprocess\\ehr_preprocess")
from ehr_preprocess.preprocessors import mimic4

In [508]:
np.random.choice([])

ValueError: 'a' cannot be empty unless no samples are taken

In [344]:
medication = pd.read_csv(files[-5], dtype={'ndc':str}, usecols=['ndc', 'drug'])
medication = medication.rename(columns={'ndc':'CONCEPT'})

In [67]:
def get_code_lengths(medication):
    medication['code_length'] = medication['CONCEPT'].map(lambda x: len(str(x)))
    return medication
def handle_11_digit_codes(medication):
    ndc_11_digit_mask = medication['code_length']==11
    medication.loc[ndc_11_digit_mask, 'CONCEPT'] = medication.loc[ndc_11_digit_mask, 'CONCEPT'].astype(str).map(
        lambda x: x[:5] + '-' + x[6:9] + '-' + x[9:])
    return medication
def handle_shorter_codes(medication):
    short_codes_mask  = medication['code_length']<11
    medication.loc[short_codes_mask, 'ndc'] = medication.loc[short_codes_mask, 'ndc'].astype(str).map()

In [345]:
medication = get_code_lengths(medication)

In [346]:
medication.code_length.value_counts()

11    13498566
1      1893328
3        24814
Name: code_length, dtype: int64

In [347]:
medication[medication.CONCEPT=="0"].drug.value_counts()

Sodium Chloride 0.9%  Flush    517674
Bag                            253066
Iso-Osmotic Dextrose           248602
0.9% Sodium Chloride           116549
Insulin                        113110
                                ...
Dacomitinib                         1
Etravirine                          1
acyclovir 400 mg tab                1
ganciclovir 500 mg cap              1
Ledipasvir/Sofosbuvir *NF*          1
Name: drug, Length: 319, dtype: int64

In [348]:
# medication_list = medication.CONCEPT.unique().tolist()

In [388]:
medication_list = medication.CONCEPT.value_counts().index.tolist()

In [492]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service as ChromeService
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
import time
import inspect

class NDC_ATC_Mapper:
    def __init__(self, medications, 
                 test=True):
        self.raw_ndc_codes = medications['CONCEPT'].unique()
        
        self.all_ndc_codes = self.get_all_ndc_codes() 
        self.possible_formattings = self.get_possible_formattings()
        self.format_map = {}
        
        self.test = test

    def __call__(self):
        self.format_codes()
        self.save_formatted_codes()
        if not os.path.exists('..\\data\\helper\\ndc_to_atc\\NDC_to_ATC_mapping.csv'):
            raise ValueError('Run https://github.com/fabkury/ndc_map on the formatted NDC codes to create the mapping file.\
                             and save it in ..\\data\\helper\\ndc_to_atc\\NDC_to_ATC_mapping.csv')

    def save_formatted_codes(self):
        data = [(k, v) for k, values in self.format_map.items() for v in values]
        formatted_codes = pd.DataFrame(data, columns=['Raw_NDC', 'NDC'])
        os.makedirs('..\\data\\interim\\mimic4', exist_ok=True)
        formatted_codes.to_csv('..\\data\\interim\\mimic4\\formatted_ndc_codes.csv', index=False)

    def get_inverse_format_map(self):
        return {v: k for k, ls in self.format_map.items() for v in ls if v is not None}
    
    def map_code(self, ndc_code):
        if len(ndc_code) < 11:
            return None
        else:
            ndc_code = self.format_ndc_code(ndc_code)
            if ndc_code is None:
                return None
            atc_code = self.retrieve_code(ndc_code)
            return atc_code
        
    def format_codes(self):
        for raw_code in self.raw_ndc_codes:
            if len(raw_code) < 11:
                self.format_map[raw_code] = [None]
            else:
                self.find_suitable_format(raw_code)

    def get_possible_formattings(self,):
        def _format1a(ndc_code):
            if ndc_code[4] == '0':
                ndc_code = ndc_code[0:4] + '-' + ndc_code[5:-2] + '-' + ndc_code[-2:]
            return ndc_code
        def _format1b(ndc_code):
            if ndc_code[4] == '0':
                ndc_code = ndc_code[0:4] + '-' + ndc_code[5:-1] + '-' + ndc_code[-1:]
            return ndc_code
        def _format2a(ndc_code):
            if ndc_code[5] == '0':
                ndc_code = ndc_code[0:5] + '-' + ndc_code[6:-2] + '-' + ndc_code[-2:]
            return ndc_code
        def _format2b(ndc_code):
            if ndc_code[5] == '0':
                ndc_code = ndc_code[0:5] + '-' + ndc_code[6:-1] + '-' + ndc_code[-1:]
            return ndc_code
        def _format3a(ndc_code):
            if ndc_code[0] == '0':
                ndc_code = ndc_code[1:5] + '-' + ndc_code[5:-2] + '-' + ndc_code[-2:]
            return ndc_code
        def _format3aa(ndc_code):
            if ndc_code[0] == '0':
                ndc_code = ndc_code[1:5] + '-' + ndc_code[5:-1] + '-' + ndc_code[-1:]
            return ndc_code
        def _format3b(ndc_code):
            if ndc_code[0] == '0':
                ndc_code = ndc_code[1:6] + '-' + ndc_code[6:-2] + '-' + ndc_code[-2:]
            return ndc_code
        def _format3ba(ndc_code):
            if ndc_code[0] == '0':
                ndc_code = ndc_code[1:6] + '-' + ndc_code[6:-1] + '-' + ndc_code[-1:]
            return ndc_code
        def _format4a(ndc_code):
            if ndc_code[-2] == '0':
                ndc_code = ndc_code[0:4] + '-' + ndc_code[4:-2] + '-' + ndc_code[-1:]
            return ndc_code
        def _format4b(ndc_code):
            if ndc_code[-2] == '0':
                ndc_code = ndc_code[0:5] + '-' + ndc_code[5:-2] + '-' + ndc_code[-1:]
            return ndc_code
        return [method for name, method in locals().items() if name.startswith('_format')]
    
    def find_suitable_format(self, raw_code):
        formatted_code = self.check_exact_match(raw_code)
        if formatted_code:
            self.format_map[raw_code] = [formatted_code]
        else:
            formatted_code = self.check_partial_match(raw_code)
            if formatted_code:
                self.format_map[raw_code] = [formatted_code]
            else:
                self.format_map[raw_code] = [self.apply_format(raw_code, formatting) for formatting in self.possible_formattings]
                self.format_map[raw_code] = [code for code in self.format_map[raw_code] if code!=raw_code]
    
    def check_exact_match(self, raw_code):
        for formatting in self.possible_formattings:
            try:
                formatted_code = self.apply_format(raw_code, formatting)
                if self.check_format_exact(formatted_code):
                    return formatted_code
            except Exception:
                continue

    def check_partial_match(self, raw_code):
        for formatting in self.possible_formattings:
            try:
                formatted_code = self.apply_format(raw_code, formatting)
                if self.check_format_partial(formatted_code):
                    return formatted_code
            except Exception:
                continue

    def apply_format(self, raw_code, formatting):
        return formatting(raw_code)
    
    def check_format_exact(self, ndc_code):
        return ndc_code in self.all_ndc_codes.values
    
    def check_format_partial(self, ndc_code):
        first_nine = self.all_ndc_codes.str.startswith(ndc_code[:9]).any()
        firs_eight = self.all_ndc_codes.str.startswith(ndc_code[:8]).any()
        first_seven = self.all_ndc_codes.str.startswith(ndc_code[:7]).any()
        return first_nine or firs_eight or first_seven
    
    @staticmethod
    def get_all_ndc_codes():
        ndc1 = pd.read_csv("..\\data\\helper\\ndc_to_atc\\ndc2atc_level4.csv").NDC
        ndc2 = pd.read_csv("..\\data\\helper\\ndc_to_atc\\NDC_codes.csv").ndcpackagecode
        return pd.concat([ndc1, ndc2]).drop_duplicates()

In [493]:
mapper = NDC_ATC_Mapper(medication_list[:10])

{'self': <__main__.NDC_ATC_Mapper object at 0x0000022A3A8DA850>, '_format1a': <function NDC_ATC_Mapper.get_possible_formattings.<locals>._format1a at 0x0000022A328A7430>, '_format1b': <function NDC_ATC_Mapper.get_possible_formattings.<locals>._format1b at 0x0000022A3F5904C0>, '_format2a': <function NDC_ATC_Mapper.get_possible_formattings.<locals>._format2a at 0x0000022A3F5903A0>, '_format2b': <function NDC_ATC_Mapper.get_possible_formattings.<locals>._format2b at 0x0000022A3F590AF0>, '_format3a': <function NDC_ATC_Mapper.get_possible_formattings.<locals>._format3a at 0x0000022A3F590550>, '_format3aa': <function NDC_ATC_Mapper.get_possible_formattings.<locals>._format3aa at 0x0000022A3F590CA0>, '_format3b': <function NDC_ATC_Mapper.get_possible_formattings.<locals>._format3b at 0x0000022A2E7CDF70>, '_format3ba': <function NDC_ATC_Mapper.get_possible_formattings.<locals>._format3ba at 0x0000022A2E7CDAF0>, '_format4a': <function NDC_ATC_Mapper.get_possible_formattings.<locals>._format4a at 0x0000022A2E7CDCA0>, '_format4b': <function NDC_ATC_Mapper.get_possible_formattings.<locals>._format4b at 0x0000022A3F597B80>}

In [469]:
[method for method in inspect.getmembers(mapper, predicate=inspect.ismethod) if method[0].startswith('_format')]

[]

In [448]:
mapper()

Run https://github.com/fabkury/ndc_map on the formatted NDC codes to create the mapping file.

In [436]:
mapper.format_codes()

KeyboardInterrupt:

In [428]:
format_map = mapper.format_map

In [432]:
format_map

KeyError: 0

In [433]:
inv_format_map = {v: k for k, ls in format_map.items() for v in ls if v is not None}

In [434]:
inv_format_map

{'0338-0049-04': '00338004904',
 '63323-262-01': '63323026201',
 '0409-6729-24': '00409672924',
 '0904-2244-61': '00904224461',
 '0002-7510-01': '00002751001',
 '0338-0117-04': '00338011704',
 '0904-5165-61': '00904516561',
 '0088-2220-33': '00088222033',
 '0406-0552-62': '00406055262',
 '0338-3552-48': '00338355248',
 '0409-4902-34': '00409490234',
 '51079-002-20': '51079000220',
 '51079-255-20': '51079025520',
 '0409-1283-31': '00409128331',
 '0338-0049-03': '00338004903',
 '0338-0049-38': '00338004938',
 '0338-0049-02': '00338004902',
 '0338-0553-18': '00338055318',
 '0904-1988-61': '00904198861',
 '0574-7050-50': '00574705050',
 '66758-160-13': '66758016013',
 '0409-1985-30': '00409198530',
 '5539-0004-01': '55390000401',
 '5539-00040-1': '55390000401',
 '55390-004-01': '55390000401',
 '55390-0040-1': '55390000401',
 '5539-00004-1': '55390000401',
 '55390-0004-1': '55390000401',
 '0002-8215-01': '00002821501',
 '0904-4040-73': '00904404073',
 '0781-3057-14': '00781305714',
 '0338-0703-41': '00338070341',
 '38396-550-18': '38396055018',
 '38396-5501-8': '38396055018',
 '0245-0041-01': '00245004101'}

In [402]:
all_ndc_codes = mapper.get_all_ndc_codes()

In [ ]:
from tqdm import tqdm
for ndc_code in tqdm(medication_list):
    if not mapper.find_suitable_format(ndc_code):
        print('No suitable format found for', ndc_code)

In [397]:
import json
import ast

In [398]:
with open("..\\data\\helper\\ndc_to_atc\\ndc2rxnorm_mapping.txt", 'r') as f:
    dictionary = ast.literal_eval(f.read())

In [401]:
len(dictionary.keys())

4204

In [377]:
def enter_code(driver, ndc_code):
    driver.get('https://www.hipaaspace.com/medical-billing/crosswalk-services/ndc-to-atc-mapping/')  # Open the page
    search_field = driver.find_element(By.NAME, 'tbxSearchRequest')  # Replace with actual id of search field
    search_field.send_keys(ndc_code)
    search_field.send_keys(Keys.RETURN)
def read_result(driver):
    # element = driver.find_element(By.CSS_SELECTOR, 'td table.table.table-bordered a.lookup_item_title')
    try:
        elements = WebDriverWait(driver, 10).until(
            EC.presence_of_all_elements_located((By.CLASS_NAME, 'lookup_item_title'))
        )
        for element in elements:
            print(element.text)
        return elements
    except TimeoutException:
        return None
    
    elements = driver.find_element(By.CLASS_NAME, 'lookup_item_title')
    for element in elements:
        print(element.text)
    text = element.text if element else None
    atc_code = text.split(' ')[0] if text else None
    
    return atc_code

def retrieve_code(driver, ndc_code):
    enter_code(driver, ndc_code)
    time.sleep(1)
    atc_code = read_result(driver)
    return atc_code
    


def map_code(driver, ndc_code):
    if len(ndc_code) < 11:
        return None
    else:
        ndc_code = format_code(ndc_code)
        atc_code = retrieve_code(driver, ndc_code)
        if atc_code:
            return atc_code
        else: # try moving the separator
            ndc_code = move_separator(ndc_code)
            atc_code = retrieve_code(driver, ndc_code)
            return atc_code
all_ndc_codes = all_ndc_codes = pd.read_csv("..\\data\\helper\\ndc_to_atc\\ndc2atc_level4.csv").ndcpackagecode.values
def check_code(ndc_code):
     return ndc_code in all_ndc_codes

AttributeError: 'DataFrame' object has no attribute 'ndcpackagecode'

In [379]:
all_ndc_codes = pd.read_csv("..\\data\\helper\\ndc_to_atc\\ndc2atc_level4.csv").NDC

In [199]:
'63323-262-01' in all_ndc_codes.values

True

In [198]:
all_ndc_codes[120000]

'63545-441-02'

In [186]:
all_ndc_codes

0         0002-0800-01
1         0002-1200-30
2         0002-1200-50
3         0002-1210-30
4         0002-1210-50
              ...
216659    99528-606-06
216660    99528-606-12
216661    99528-606-25
216662    99528-606-45
216663    99528-606-90
Name: ndcpackagecode, Length: 216664, dtype: object

In [174]:
service = ChromeService(executable_path="C:\\Users\\fjn197\\PhD\\projects\\PHAIR\\pipelines\\ehr_preprocess\\data\\helper\\ndc_to_atc\\chromedriver-win64\\chromedriver.exe")
driver = webdriver.Chrome(service=service)

In [134]:
medication_list[4]

'63323026201'

In [181]:
medication_list[7]

'61958070101'

In [182]:
atc_code = map_code(driver, medication_list[7])

In [172]:
atc_code.text

AttributeError: 'NoneType' object has no attribute 'text'

In [23]:
search_field = driver.find_element(By.NAME, 'tbxSearchRequest')  # Replace with actual id of search field
search_field.send_keys(ndc_list[1])
search_field.send_keys(Keys.RETURN)
print(search_field)

<selenium.webdriver.remote.webelement.WebElement (session="06a4ca2ff600443c893741d8f738f341", element="5465A8BA6902EE0F8125AEBA53724EE4_element_6")>

In [29]:
element = driver.find_element(By.CSS_SELECTOR, 'td table.table.table-bordered a.lookup_item_title')

In [30]:
text = element.text if element else None

In [36]:
text.split(' ')[0]

'B01AB01'

In [37]:
text

'B01AB01 - heparin'

In [32]:
driver.quit()

In [283]:
prescriptions[prescriptions.ndc==51079007320]

,subject_id,hadm_id,pharmacy_id,poe_id,poe_seq,order_provider_id,starttime,stoptime,drug_type,drug,...,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route,ndc_len,full_ndc,full_ned
2,10000032,22595853,19796602,10000032-50,50.0,P260SK,2180-05-08 08:00:00,2180-05-07 22:00:00,MAIN,Furosemide,...,NaN,40,mg,1,TAB,1.0,PO/NG,11,5107-9007-320,5107-9007-320
17,10000032,22841357,25684927,10000032-103,103.0,P8971Q,2180-06-27 08:00:00,2180-06-27 23:00:00,MAIN,Furosemide,...,NaN,40,mg,1,TAB,1.0,PO/NG,11,5107-9007-320,5107-9007-320
534,10000980,24947999,23938662,10000980-502,502.0,P257ZR,2190-11-07 12:00:00,2190-11-08 20:00:00,MAIN,Furosemide,...,NaN,40,mg,1,TAB,1.0,PO/NG,11,5107-9007-320,5107-9007-320
546,10000980,24947999,42387321,10000980-477,477.0,P257ZR,2190-11-07 11:00:00,2190-11-07 11:00:00,MAIN,Furosemide,...,NaN,40,mg,1,TAB,1.0,PO/NG,11,5107-9007-320,5107-9007-320
6008,10003400,26467376,34284575,10003400-577,577.0,P266TQ,2136-12-16 08:00:00,2136-12-15 20:00:00,MAIN,Furosemide,...,NaN,40,mg,1,TAB,1.0,PO/NG,11,5107-9007-320,5107-9007-320
6048,10003400,27296885,52397790,10003400-613,613.0,P319LM,2137-01-01 02:00:00,2137-01-01 07:00:00,MAIN,Furosemide,...,NaN,40,mg,1,TAB,1.0,PO/NG,11,5107-9007-320,5107-9007-320
6050,10003400,27296885,62443934,10003400-635,635.0,P51S1E,2137-01-01 12:00:00,2137-01-03 21:00:00,MAIN,Furosemide,...,NaN,40,mg,1,TAB,1.0,PO/NG,11,5107-9007-320,5107-9007-320
8610,10004764,24817563,78728141,10004764-294,294.0,P64BPW,2168-04-16 20:00:00,2168-04-16 10:00:00,MAIN,Furosemide,...,NaN,40,mg,1,TAB,2.0,PO/NG,11,5107-9007-320,5107-9007-320
8779,10005012,28371912,94129501,10005012-65,65.0,P859YW,2169-10-23 10:00:00,2169-10-30 19:00:00,MAIN,Furosemide,...,NaN,40,mg,1,TAB,1.0,PO,11,5107-9007-320,5107-9007-320
9546,10005749,24015009,39407555,10005749-337,337.0,P89RXE,2145-09-14 08:00:00,2145-09-14 08:00:00,MAIN,Furosemide,...,NaN,40,mg,1,TAB,2.0,PO/NG,11,5107-9007-320,5107-9007-320
9838,10005817,20626031,97485271,10005817-24,24.0,P451D0,2132-12-12 02:00:00,2132-12-12 16:00:00,MAIN,Furosemide,...,NaN,40,mg,1,TAB,1.0,PO/NG,11,5107-9007-320,5107-9007-320

In [273]:
prescriptions['full_ndc'] = prescriptions.ndc.astype(str).str.zfill(10)

In [274]:
prescriptions.full_ndc.value_counts()

0000000000     1272
63323026201     222
0338004904      180
0904224461      156
0409672924      152
               ...
50111091801       1
0536108494        1
51079010320       1
50268015215       1
0338007704        1
Name: full_ndc, Length: 1091, dtype: int64

In [276]:
prescriptions['full_ndc'] = prescriptions['full_ndc'].apply(lambda x: f"{x[:4]}-{x[4:8]}-{x[8:]}")

In [277]:
prescriptions.full_ndc

0        0904-1988-61
1        0000-0000-00
2       5107-9007-320
3        0006-0227-61
4       6332-3026-201
            ...
9995    1152-3726-808
9996     0000-0000-00
9997    6155-3012-011
9998     0000-0000-00
9999     0338-0703-41
Name: full_ndc, Length: 10000, dtype: object

In [278]:
prescriptions[prescriptions.full_ndc=="0006-0227-61"]

,subject_id,hadm_id,pharmacy_id,poe_id,poe_seq,order_provider_id,starttime,stoptime,drug_type,drug,...,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route,ndc_len,full_ndc,full_ned
3,10000032,22595853,20256254,10000032-32,32.0,P76JEQ,2180-05-07 01:00:00,2180-05-07 22:00:00,MAIN,Raltegravir,...,NaN,400,mg,1,TAB,2.0,PO,7,0006-0227-61,0000-6022-761
24,10000032,22841357,51588577,10000032-91,91.0,P8971Q,2180-06-26 23:00:00,2180-06-27 23:00:00,MAIN,Raltegravir,...,NaN,400,mg,1,TAB,2.0,PO,7,0006-0227-61,0000-6022-761
54,10000032,25742920,82541937,10000032-243,243.0,P76JEQ,2180-08-06 03:00:00,2180-08-07 22:00:00,MAIN,Raltegravir,...,NaN,400,mg,1,TAB,2.0,PO,7,0006-0227-61,0000-6022-761
68,10000032,29079034,49582968,10000032-182,182.0,P20F7Z,2180-07-23 17:00:00,2180-07-25 22:00:00,MAIN,Raltegravir,...,NaN,400,mg,1,TAB,2.0,PO,7,0006-0227-61,0000-6022-761

In [221]:
prescriptions.ndc.value_counts()

0              79
63323026201    32
338004904      26
904224461      21
904516561      18
               ..
51079054220     1
54839224        1
904598061       1
409739172       1
310032520       1
Name: ndc, Length: 297, dtype: int64

In [230]:
len(prescriptions[prescriptions.ndc==0].drug.value_counts(
))

12

In [232]:
prescriptions[prescriptions.ndc==0].formulary_drug_cd.value_counts(
)

NACLFLUSH    37
BAG50        10
HEPBASE       7
VANCOBASE     6
VIAL          4
SW50          3
INSULIN       3
NS100CG       2
GENTBASE1     2
FRBD100       1
FRBD50        1
ISONACL       1
METRBASE      1
LEVOBASE3     1
Name: formulary_drug_cd, dtype: int64

In [224]:
prescriptions.columns

Index(['subject_id', 'hadm_id', 'pharmacy_id', 'poe_id', 'poe_seq',
       'order_provider_id', 'starttime', 'stoptime', 'drug_type', 'drug',
       'formulary_drug_cd', 'gsn', 'ndc', 'prod_strength', 'form_rx',
       'dose_val_rx', 'dose_unit_rx', 'form_val_disp', 'form_unit_disp',
       'doses_per_24_hrs', 'route'],
      dtype='object')

In [186]:
pharmacy = pd.read_csv(files[-8], nrows=1000)

In [142]:
files

['..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\admissions.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\diagnoses_icd.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\drgcodes.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\d_hcpcs.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\d_icd_diagnoses.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\d_icd_procedures.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\d_labitems.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\emar.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\emar_detail.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\hcpcsevents.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\labevents.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\microbiologyevents.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\omr.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\patients.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\pharmacy.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\poe.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\poe_detail.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\prescriptions.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\procedures_icd.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\provider.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\services.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\transfers.csv.gz']

In [21]:
diag = pd.read_csv(files[1])
diag.head()

   subject_id   hadm_id  seq_num icd_code  icd_version
0    10000032  22595853        1     5723            9
1    10000032  22595853        2    78959            9
2    10000032  22595853        3     5715            9
3    10000032  22595853        4    07070            9
4    10000032  22595853        5      496            9

In [34]:
emar = pd.read_csv(files[8], nrows=1000)
emar.head()

,subject_id,emar_id,emar_seq,parent_field_ordinal,administration_type,pharmacy_id,barcode_type,reason_for_no_barcode,complete_dose_not_given,dose_due,...,infusion_rate_unit,route,infusion_complete,completion_interval,new_iv_bag_hung,continued_infusion_in_other_location,restart_interval,side,site,non_formulary_visual_verification
0,10000032,10000032-10,10,1.1,NaN,48770010.0,if,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000032,10000032-10,10,1.2,NaN,48770010.0,if,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10000032,10000032-10,10,1.3,NaN,48770010.0,if,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000032,10000032-10,10,1.4,NaN,48770010.0,if,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10000032,10000032-10,10,NaN,Standard Maintenance Medication,NaN,NaN,NaN,No,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [220]:
emar.columns

Index(['subject_id', 'emar_id', 'emar_seq', 'parent_field_ordinal',
       'administration_type', 'pharmacy_id', 'barcode_type',
       'reason_for_no_barcode', 'complete_dose_not_given', 'dose_due',
       'dose_due_unit', 'dose_given', 'dose_given_unit',
       'will_remainder_of_dose_be_given', 'product_amount_given',
       'product_unit', 'product_code', 'product_description',
       'product_description_other', 'prior_infusion_rate', 'infusion_rate',
       'infusion_rate_adjustment', 'infusion_rate_adjustment_amount',
       'infusion_rate_unit', 'route', 'infusion_complete',
       'completion_interval', 'new_iv_bag_hung',
       'continued_infusion_in_other_location', 'restart_interval', 'side',
       'site', 'non_formulary_visual_verification'],
      dtype='object')

In [35]:
files

['..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\admissions.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\diagnoses_icd.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\drgcodes.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\d_hcpcs.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\d_icd_diagnoses.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\d_icd_procedures.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\d_labitems.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\emar.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\emar_detail.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\hcpcsevents.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\labevents.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\microbiologyevents.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\omr.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\patients.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\pharmacy.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\poe.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\poe_detail.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\prescriptions.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\procedures_icd.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\provider.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\services.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\transfers.csv.gz']

In [44]:
files[13]

'..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\patients.csv.gz'

In [65]:
omr = pd.read_csv(files[12], nrows=1000)
omr.head()

   subject_id   chartdate  seq_num      result_name result_value
0    10000032  2180-04-27        1   Blood Pressure       110/65
1    10000032  2180-04-27        1     Weight (Lbs)           94
2    10000032  2180-05-07        1      BMI (kg/m2)         18.0
3    10000032  2180-05-07        1  Height (Inches)           60
4    10000032  2180-05-07        1     Weight (Lbs)        92.15

In [68]:
omr.sort_values(by=['subject_id', 'result_name']).head(20)

    subject_id   chartdate  seq_num      result_name result_value
2     10000032  2180-05-07        1      BMI (kg/m2)         18.0
22    10000032  2180-05-25        1      BMI (kg/m2)         18.6
25    10000032  2180-06-01        1      BMI (kg/m2)         18.7
28    10000032  2180-06-22        1      BMI (kg/m2)         18.9
31    10000032  2180-06-27        1      BMI (kg/m2)         19.2
34    10000032  2180-06-30        1      BMI (kg/m2)         18.0
37    10000032  2180-07-09        1      BMI (kg/m2)         18.7
39    10000032  2180-08-06        1      BMI (kg/m2)         18.2
0     10000032  2180-04-27        1   Blood Pressure       110/65
21    10000032  2180-05-25        1   Blood Pressure       106/60
24    10000032  2180-06-01        1   Blood Pressure       121/77
27    10000032  2180-06-22        1   Blood Pressure       100/60
33    10000032  2180-06-30        1   Blood Pressure       102/60
36    10000032  2180-07-09        1   Blood Pressure        98/66
3     10000032  2180-05-07        1  Height (Inches)           60
29    10000032  2180-06-22        1  Height (Inches)           60
1     10000032  2180-04-27        1     Weight (Lbs)           94
4     10000032  2180-05-07        1     Weight (Lbs)        92.15
5     10000032  2180-05-07        2     Weight (Lbs)        92.15
6     10000032  2180-05-07        3     Weight (Lbs)        92.15

In [103]:
patient

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod,dob
0,10000032,F,52,2180,2014 - 2016,2180-09-09,2128-01-01
1,10000048,F,23,2126,2008 - 2010,NaN,2103-01-01
2,10000068,F,19,2160,2008 - 2010,NaN,2141-01-01
3,10000084,M,72,2160,2017 - 2019,2161-02-13,2088-01-01
4,10000102,F,27,2136,2008 - 2010,NaN,2109-01-01
...,...,...,...,...,...,...,...
299707,19999828,F,46,2147,2017 - 2019,NaN,2101-01-01
299708,19999829,F,28,2186,2008 - 2010,NaN,2158-01-01
299709,19999840,M,58,2164,2008 - 2010,2164-09-17,2106-01-01
299710,19999914,F,49,2158,2017 - 2019,NaN,2109-01-01
299711,19999987,F,57,2145,2011 - 2013,NaN,2088-01-01

In [63]:
patient['dob'] = patient['anchor_year'] - patient['anchor_age']
patient['dob'] = pd.to_datetime(patient['dob'], format='%Y')
patient.head()

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod,dob
0,10000032,F,52,2180,2014 - 2016,2180-09-09,2128-01-01
1,10000048,F,23,2126,2008 - 2010,NaN,2103-01-01
2,10000068,F,19,2160,2008 - 2010,NaN,2141-01-01
3,10000084,M,72,2160,2017 - 2019,2161-02-13,2088-01-01
4,10000102,F,27,2136,2008 - 2010,NaN,2109-01-01

In [47]:
files[14:]

['..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\pharmacy.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\poe.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\poe_detail.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\prescriptions.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\procedures_icd.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\provider.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\services.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\transfers.csv.gz']

In [117]:
files[1]

'..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\hosp\\diagnoses_icd.csv.gz'

In [207]:
diagnoses = pd.read_csv(files[1], nrows=1000)
diagnoses

     subject_id   hadm_id  seq_num icd_code  icd_version
0      10000032  22595853        1     5723            9
1      10000032  22595853        2    78959            9
2      10000032  22595853        3     5715            9
3      10000032  22595853        4    07070            9
4      10000032  22595853        5      496            9
..          ...       ...      ...      ...          ...
995    10002013  23745275        5     2724            9
996    10002013  23745275        6      412            9
997    10002013  24760295        1    41071            9
998    10002013  24760295        2     5180            9
999    10002013  24760295        3    42832            9

[1000 rows x 5 columns]

In [49]:
pharmacy = pd.read_csv(files[14], nrows=100)
pharmacy.head()

,subject_id,hadm_id,pharmacy_id,poe_id,starttime,stoptime,medication,proc_type,status,entertime,...,basal_rate,one_hr_max,doses_per_24_hrs,duration,duration_interval,expiration_value,expiration_unit,expirationdate,dispensation,fill_quantity
0,10000032,22595853,11700683,10000032-34,2180-05-07 01:00:00,2180-05-07 22:00:00,Acetaminophen,Unit Dose,Discontinued via patient discharge,2180-05-07 00:09:24,...,NaN,NaN,NaN,NaN,Ongoing,36,Hours,NaN,Omnicell,NaN
1,10000032,22595853,14779570,10000032-22,2180-05-07 00:00:00,2180-05-07 22:00:00,Sodium Chloride 0.9% Flush,Unit Dose,Discontinued via patient discharge,2180-05-07 00:00:54,...,NaN,NaN,3.0,NaN,Ongoing,36,Hours,NaN,Floor Stock Item,NaN
2,10000032,22595853,19796602,10000032-50,2180-05-08 08:00:00,2180-05-07 22:00:00,Furosemide,Unit Dose,Discontinued via patient discharge,2180-05-07 09:32:35,...,NaN,NaN,1.0,NaN,Ongoing,36,Hours,NaN,Omnicell,NaN
3,10000032,22595853,20256254,10000032-32,2180-05-07 01:00:00,2180-05-07 22:00:00,Raltegravir,Unit Dose,Discontinued via patient discharge,2180-05-07 00:09:24,...,NaN,NaN,2.0,NaN,Ongoing,36,Hours,NaN,Omnicell,NaN
4,10000032,22595853,28781051,10000032-27,2180-05-07 00:00:00,2180-05-07 22:00:00,Heparin,Unit Dose,Discontinued via patient discharge,2180-05-07 00:00:54,...,NaN,NaN,3.0,NaN,Ongoing,36,Hours,NaN,Omnicell,NaN

In [53]:
poe = pd.read_csv(files[15], nrows=100)
poe.head()

,poe_id,poe_seq,subject_id,hadm_id,ordertime,order_type,order_subtype,transaction_type,discontinue_of_poe_id,discontinued_by_poe_id,order_provider_id,order_status
0,10000032-10,10,10000032,22595853,2180-05-06 20:50:49,Lab,NaN,New,NaN,NaN,P9705S,Inactive
1,10000032-100,100,10000032,22841357,2180-06-26 22:25:43,Respiratory,Oxygen Therapy,New,NaN,NaN,P8971Q,Inactive
2,10000032-102,102,10000032,22841357,2180-06-26 22:37:06,Medications,NaN,D/C,10000032-93,NaN,P8971Q,Inactive
3,10000032-103,103,10000032,22841357,2180-06-26 22:37:06,Medications,NaN,Change,10000032-89,NaN,P8971Q,Inactive
4,10000032-104,104,10000032,22841357,2180-06-27 07:06:36,ADT orders,Admit,Change,10000032-75,NaN,P61HH1,Inactive

In [57]:
presc = pd.read_csv(files[17], nrows=1000)
presc.head()
presc.ndc.value_counts()

0              79
63323026201    32
338004904      26
904224461      21
904516561      18
               ..
51079054220     1
54839224        1
904598061       1
409739172       1
310032520       1
Name: ndc, Length: 297, dtype: int64

In [58]:
icu_files = []
icu_data_dir = "..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\icu"

for file in os.listdir(icu_data_dir):
    icu_files.append(join(icu_data_dir, file))

In [59]:
icu_files

['..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\icu\\caregiver.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\icu\\chartevents.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\icu\\datetimeevents.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\icu\\d_items.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\icu\\icustays.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\icu\\ingredientevents.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\icu\\inputevents.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\icu\\outputevents.csv.gz',
 '..\\data\\raw\\mimic-iv-2.2\\mimic-iv-2.2\\icu\\procedureevents.csv.gz']

In [126]:
formatted_dir = "C:\\Users\\fjn197\\PhD\\projects\\PHAIR\\pipelines\\ehr_preprocess\\data\\formatted\\mimic4_med_diag"
patients_info = pd.read_csv(join(formatted_dir, "patients_info.csv"))

In [123]:
patients_info.head()

,PID,INSURANCE,LANGUAGE,MARITALSTATUS,RACE,GENDER,DATE_OF_DEATH,DATE_OF_BIRTH
0,10000032,Medicaid,ENGLISH,WIDOWED,WHITE,NaN,NaN,NaN
1,10000068,Other,ENGLISH,SINGLE,WHITE,F,NaN,2141-01-01
2,10000084,Medicare,ENGLISH,MARRIED,WHITE,M,2161-02-13,2088-01-01
3,10000108,Other,ENGLISH,SINGLE,WHITE,M,NaN,2138-01-01
4,10000117,Other,ENGLISH,DIVORCED,WHITE,F,NaN,2126-01-01

In [124]:
patients_info.DATE_OF_BIRTH.isna().sum()

1

In [214]:
diagnose = pd.read_csv(join(formatted_dir, "concept.diagnose.csv"))

In [216]:
diagnose['second'] = diagnose.CONCEPT.map(lambda x: x[1])

In [219]:
diagnose.second.str.isnumeric().sum()

0

In [178]:
med = pd.read_csv(join(formatted_dir, "concept.prescription_medication.csv"))

In [179]:
med

           PID  ADMISSION_ID            TIMESTAMP       CONCEPT
0     10000032      22595853  2180-05-07 00:00:00  0.000000e+00
1     10000032      22595853  2180-05-08 08:00:00  5.107901e+10
2     10000032      22595853  2180-05-07 01:00:00  6.022761e+06
3     10000032      22595853  2180-05-07 00:00:00  6.332303e+10
4     10000032      22595853  2180-05-07 01:00:00  1.730682e+08
...        ...           ...                  ...           ...
9071  10005817      28661809  2135-01-15 12:00:00  4.096625e+08
9072  10005817      28661809  2135-01-10 13:00:00  1.152373e+10
9073  10005817      28661809  2135-01-13 12:00:00  0.000000e+00
9074  10005817      28661809  2135-01-13 12:00:00  6.155301e+10
9075  10005817      28661809  2135-01-19 15:00:00  0.000000e+00

[9076 rows x 4 columns]

In [180]:
med.CONCEPT.isna().sum()

0

In [181]:
med.CONCEPT = med.CONCEPT.astype(int)

In [182]:
med.CONCEPT

0                0
1      -2147483648
2          6022761
3      -2147483648
4        173068224
           ...
9071     409662502
9072   -2147483648
9073             0
9074   -2147483648
9075             0
Name: CONCEPT, Length: 9076, dtype: int32

In [ ]:
def map_icd9_to_icd10(self, df):
        mapping = pd.read_csv("..\\data\\helper\\diagnosis_gems_2018\\2018_I9gem.txt", delimiter='\s+', names=['icd9', 'icd10'], usecols=[0,1])

In [212]:
mapping = pd.read_csv("..\\data\\helper\\diagnosis_gems_2018\\2018_I9gem.txt", delimiter='\s+', names=['icd9', 'icd10'], usecols=[0,1])

In [210]:
mapping = mapping.set_index('icd9')['icd10'].to_dict()

In [213]:
mapping['icd9'] = 'D' + mapping['icd9']
mapping

         icd9   icd10
0       D0010    A000
1       D0011    A001
2       D0019    A009
3       D0020   A0100
4       D0021    A011
...       ...     ...
24855  DV9129  O30299
24856  DV9190  O30809
24857  DV9191  O30819
24858  DV9192  O30829
24859  DV9199  O30899

[24860 rows x 2 columns]

In [206]:
mapping

{'0010': 'A000',
 '0011': 'A001',
 '0019': 'A009',
 '0020': 'A0100',
 '0021': 'A011',
 '0022': 'A012',
 '0023': 'A013',
 '0029': 'A014',
 '0030': 'A020',
 '0031': 'A021',
 '00320': 'A0220',
 '00321': 'A0221',
 '00322': 'A0222',
 '00323': 'A0223',
 '00324': 'A0224',
 '00329': 'A0229',
 '0038': 'A028',
 '0039': 'A029',
 '0040': 'A030',
 '0041': 'A031',
 '0042': 'A032',
 '0043': 'A033',
 '0048': 'A038',
 '0049': 'A039',
 '0050': 'A050',
 '0051': 'A051',
 '0052': 'A052',
 '0053': 'A058',
 '0054': 'A053',
 '00581': 'A055',
 '00589': 'A058',
 '0059': 'A059',
 '0060': 'A060',
 '0061': 'A061',
 '0062': 'A062',
 '0063': 'A064',
 '0064': 'A065',
 '0065': 'A066',
 '0066': 'A067',
 '0068': 'A0689',
 '0069': 'A069',
 '0070': 'A070',
 '0071': 'A071',
 '0072': 'A073',
 '0073': 'A078',
 '0074': 'A072',
 '0075': 'A074',
 '0078': 'A078',
 '0079': 'A079',
 '00800': 'A044',
 '00801': 'A040',
 '00802': 'A041',
 '00803': 'A042',
 '00804': 'A043',
 '00809': 'A044',
 '0081': 'A048',
 '0082': 'A048',
 '0083': 'A048',
 '00841': 'A048',
 '00842': 'A048',
 '00843': 'A045',
 '00844': 'A046',
 '00845': 'A0472',
 '00846': 'A048',
 '00847': 'A048',
 '00849': 'A048',
 '0085': 'A049',
 '00861': 'A080',
 '00862': 'A082',
 '00863': 'A0811',
 '00864': 'A0819',
 '00865': 'A0831',
 '00866': 'A0832',
 '00867': 'A0839',
 '00869': 'A0839',
 '0088': 'A088',
 '0090': 'A09',
 '0091': 'A09',
 '0092': 'A09',
 '0093': 'A09',
 '01000': 'A157',
 '01001': 'A157',
 '01002': 'A157',
 '01003': 'A157',
 '01004': 'A157',
 '01005': 'A157',
 '01006': 'A157',
 '01010': 'A156',
 '01011': 'A156',
 '01012': 'A156',
 '01013': 'A156',
 '01014': 'A156',
 '01015': 'A156',
 '01016': 'A156',
 '01080': 'A157',
 '01081': 'A157',
 '01082': 'A157',
 '01083': 'A157',
 '01084': 'A157',
 '01085': 'A157',
 '01086': 'A157',
 '01090': 'A157',
 '01091': 'A157',
 '01092': 'A157',
 '01093': 'A157',
 '01094': 'A157',
 '01095': 'A157',
 '01096': 'A157',
 '01100': 'A150',
 '01101': 'A150',
 '01102': 'A150',
 '01103': 'A150',
 '01104': 'A150',
 '01105': 'A150',
 '01106': 'A150',
 '01110': 'A150',
 '01111': 'A150',
 '01112': 'A150',
 '01113': 'A150',
 '01114': 'A150',
 '01115': 'A150',
 '01116': 'A150',
 '01120': 'A150',
 '01121': 'A150',
 '01122': 'A150',
 '01123': 'A150',
 '01124': 'A150',
 '01125': 'A150',
 '01126': 'A150',
 '01130': 'A155',
 '01131': 'A155',
 '01132': 'A155',
 '01133': 'A155',
 '01134': 'A155',
 '01135': 'A155',
 '01136': 'A155',
 '01140': 'A150',
 '01141': 'A150',
 '01142': 'A150',
 '01143': 'A150',
 '01144': 'A150',
 '01145': 'A150',
 '01146': 'A150',
 '01150': 'A150',
 '01151': 'A150',
 '01152': 'A150',
 '01153': 'A150',
 '01154': 'A150',
 '01155': 'A150',
 '01156': 'A150',
 '01160': 'A150',
 '01161': 'A150',
 '01162': 'A150',
 '01163': 'A150',
 '01164': 'A150',
 '01165': 'A150',
 '01166': 'A150',
 '01170': 'A150',
 '01171': 'A150',
 '01172': 'A150',
 '01173': 'A150',
 '01174': 'A150',
 '01175': 'A150',
 '01176': 'A150',
 '01180': 'A150',
 '01181': 'A150',
 '01182': 'A150',
 '01183': 'A150',
 '01184': 'A150',
 '01185': 'A150',
 '01186': 'A150',
 '01190': 'A150',
 '01191': 'A150',
 '01192': 'A150',
 '01193': 'A150',
 '01194': 'A150',
 '01195': 'A150',
 '01196': 'A150',
 '01200': 'A156',
 '01201': 'A156',
 '01202': 'A156',
 '01203': 'A156',
 '01204': 'A156',
 '01205': 'A156',
 '01206': 'A156',
 '01210': 'A154',
 '01211': 'A154',
 '01212': 'A154',
 '01213': 'A154',
 '01214': 'A154',
 '01215': 'A154',
 '01216': 'A154',
 '01220': 'A155',
 '01221': 'A155',
 '01222': 'A155',
 '01223': 'A155',
 '01224': 'A155',
 '01225': 'A155',
 '01226': 'A155',
 '01230': 'A155',
 '01231': 'A155',
 '01232': 'A155',
 '01233': 'A155',
 '01234': 'A155',
 '01235': 'A155',
 '01236': 'A155',
 '01280': 'A158',
 '01281': 'A158',
 '01282': 'A158',
 '01283': 'A158',
 '01284': 'A158',
 '01285': 'A158',
 '01286': 'A158',
 '01300': 'A170',
 '01301': 'A170',
 '01302': 'A170',
 '01303': 'A170',
 '01304': 'A170',
 '01305': 'A170',
 '01306': 'A170',
 '01310': 'A171',
 '01311': 'A171',
 '01312': 'A171',
 '01313': 'A171',
 '01314': 'A171',
 '01315': 'A171',
 '01316': 'A171',
 '01320': 'A1781',
 '01321': 'A1781',
 '01322': 'A1781',
 '01323': 'A1781',
 '01324': 'A1781',
 '01325': 'A1781',
 '01326': 'A1781',
 '01330': 'A1781',
 '01331': 'A1781',
 '01332': 'A1781',
 '01333': 'A1781',
 '01334': 'A1781',
 '01335': 'A1781',
 '01336': 'A1781',
 '01340': 'A1781',
 '01341': 'A1781',
 '01342': 'A1781',
 '01343': 'A1781',
 '01344': 'A1781',
 '01345': 'A1781',
 '01346': 'A1781',
 '01350': 'A1781',
 '01351': 'A1781',
 '01352': 'A1781',
 '01353': 'A1781',
 '01354': 'A1781',
 '01355': 'A1781',
 '01356': 'A1781',
 '01360': 'A1782',
 '01361': 'A1782',
 '01362': 'A1782',
 '01363': 'A1782',
 '01364': 'A1782',
 '01365': 'A1782',
 '01366': 'A1782',
 '01380': 'A1789',
 '01381': 'A1789',
 '01382': 'A1789',
 '01383': 'A1789',
 '01384': 'A1789',
 '01385': 'A1789',
 '01386': 'A1789',
 '01390': 'A179',
 '01391': 'A179',
 '01392': 'A179',
 '01393': 'A179',
 '01394': 'A179',
 '01395': 'A179',
 '01396': 'A179',
 '01400': 'A1831',
 '01401': 'A1831',
 '01402': 'A1831',
 '01403': 'A1831',
 '01404': 'A1831',
 '01405': 'A1831',
 '01406': 'A1831',
 '01480': 'A1839',
 '01481': 'A1839',
 '01482': 'A1839',
 '01483': 'A1839',
 '01484': 'A1839',
 '01485': 'A1839',
 '01486': 'A1839',
 '01500': 'A1801',
 '01501': 'A1801',
 '01502': 'A1801',
 '01503': 'A1801',
 '01504': 'A1801',
 '01505': 'A1801',
 '01506': 'A1801',
 '01510': 'A1802',
 '01511': 'A1802',
 '01512': 'A1802',
 '01513': 'A1802',
 '01514': 'A1802',
 '01515': 'A1802',
 '01516': 'A1802',
 '01520': 'A1802',
 '01521': 'A1802',
 '01522': 'A1802',
 '01523': 'A1802',
 '01524': 'A1802',
 '01525': 'A1802',
 '01526': 'A1802',
 '01550': 'A1803',
 '01551': 'A1803',
 '01552': 'A1803',
 '01553': 'A1803',
 '01554': 'A1803',
 '01555': 'A1803',
 '01556': 'A1803',
 '01560': 'A1803',
 '01561': 'A1803',
 '01562': 'A1803',
 '01563': 'A1803',
 '01564': 'A1803',
 '01565': 'A1803',
 '01566': 'A1803',
 '01570': 'A1803',
 '01571': 'A1803',
 '01572': 'A1803',
 '01573': 'A1803',
 '01574': 'A1803',
 '01575': 'A1803',
 '01576': 'A1803',
 '01580': 'A1802',
 '01581': 'A1802',
 '01582': 'A1802',
 '01583': 'A1802',
 '01584': 'A1802',
 '01585': 'A1802',
 '01586': 'A1802',
 '01590': 'A1803',
 '01591': 'A1803',
 '01592': 'A1803',
 '01593': 'A1803',
 '01594': 'A1803',
 '01595': 'A1803',
 '01596': 'A1803',
 '01600': 'A1811',
 '01601': 'A1811',
 '01602': 'A1811',
 '01603': 'A1811',
 '01604': 'A1811',
 '01605': 'A1811',
 '01606': 'A1811',
 '01610': 'A1812',
 '01611': 'A1812',
 '01612': 'A1812',
 '01613': 'A1812',
 '01614': 'A1812',
 '01615': 'A1812',
 '01616': 'A1812',
 '01620': 'A1811',
 '01621': 'A1811',
 '01622': 'A1811',
 '01623': 'A1811',
 '01624': 'A1811',
 '01625': 'A1811',
 '01626': 'A1811',
 '01630': 'A1813',
 '01631': 'A1813',
 '01632': 'A1813',
 '01633': 'A1813',
 '01634': 'A1813',
 '01635': 'A1813',
 '01636': 'A1813',
 '01640': 'A1815',
 '01641': 'A1815',
 '01642': 'A1815',
 '01643': 'A1815',
 '01644': 'A1815',
 '01645': 'A1815',
 '01646': 'A1815',
 '01650': 'A1815',
 '01651': 'A1815',
 '01652': 'A1815',
 '01653': 'A1815',
 '01654': 'A1815',
 '01655': 'A1815',
 '01656': 'A1815',
 '01660': 'A1817',
 '01661': 'A1817',
 '01662': 'A1817',
 '01663': 'A1817',
 '01664': 'A1817',
 '01665': 'A1817',
 '01666': 'A1817',
 '01670': 'A1818',
 '01671': 'A1818',
 '01672': 'A1818',
 '01673': 'A1818',
 '01674': 'A1818',
 '01675': 'A1818',
 '01676': 'A1818',
 '01690': 'A1810',
 '01691': 'A1810',
 '01692': 'A1810',
 '01693': 'A1810',
 '01694': 'A1810',
 '01695': 'A1810',
 '01696': 'A1810',
 '01700': 'A184',
 '01701': 'A184',
 '01702': 'A184',
 '01703': 'A184',
 '01704': 'A184',
 '01705': 'A184',
 '01706': 'A184',
 '01710': 'A184',
 '01711': 'A184',
 '01712': 'A184',
 '01713': 'A184',
 '01714': 'A184',
 '01715': 'A184',
 '01716': 'A184',
 '01720': 'A182',
 '01721': 'A182',
 '01722': 'A182',
 '01723': 'A182',
 '01724': 'A182',
 '01725': 'A182',
 '01726': 'A182',
 '01730': 'A1859',
 '01731': 'A1859',
 '01732': 'A1859',
 '01733': 'A1859',
 '01734': 'A1859',
 '01735': 'A1859',
 '01736': 'A1859',
 '01740': 'A186',
 '01741': 'A186',
 '01742': 'A186',
 '01743': 'A186',
 '01744': 'A186',
 '01745': 'A186',
 '01746': 'A186',
 '01750': 'A1881',
 '01751': 'A1881',
 '01752': 'A1881',
 '01753': 'A1881',
 '01754': 'A1881',
 '01755': 'A1881',
 '01756': 'A1881',
 '01760': 'A187',
 '01761': 'A187',
 '01762': 'A187',
 '01763': 'A187',
 '01764': 'A187',
 '01765': 'A187',
 '01766': 'A187',
 '01770': 'A1885',
 '01771': 'A1885',
 '01772': 'A1885',
 '01773': 'A1885',
 '01774': 'A1885',
 '01775': 'A1885',
 '01776': 'A1885',
 '01780': 'A1889',
 '01781': 'A1889',
 '01782': 'A1889',
 '01783': 'A1889',
 '01784': 'A1889',
 '01785': 'A1889',
 '01786': 'A1889',
 '01790': 'A1884',
 '01791': 'A1889',
 '01792': 'A1889',
 '01793': 'A1889',
 '01794': 'A1889',
 '01795': 'A1889',
 '01796': 'A1889',
 '01800': 'A192',
 '01801': 'A192',
 '01802': 'A192',
 '01803': 'A192',
 '01804': 'A192',
 '01805': 'A192',
 '01806': 'A192',
 '01880': 'A198',
 '01881': 'A198',
 '01882': 'A198',
 '01883': 'A198',
 '01884': 'A198',
 '01885': 'A198',
 '01886': 'A198',
 '01890': 'A199',
 '01891': 'A199',
 '01892': 'A199',
 '01893': 'A199',
 '01894': 'A199',
 '01895': 'A199',
 '01896': 'A199',
 '0200': 'A200',
 '0201': 'A201',
 '0202': 'A207',
 '0203': 'A202',
 '0204': 'A202',
 '0205': 'A202',
 '0208': 'A208',
 '0209': 'A209',
 '0210': 'A210',
 '0211': 'A213',
 '0212': 'A212',
 '0213': 'A211',
 '0218': 'A218',
 '0219': 'A219',
 '0220': 'A220',
 '0221': 'A221',
 '0222': 'A222',
 '0223': 'A227',
 '0228': 'A228',
 '0229': 'A229',
 '0230': 'A230',
 '0231': 'A231',
 '0232': 'A232',
 '0233': 'A233',
 '0238': 'A238',
 '0239': 'A239',
 '024': 'A240',
 '025': 'A249',
 '0260': 'A250',
 '0261': 'A251',
 '0269': 'A259',
 '0270': 'A329',
 '0271': 'A269',
 '0272': 'A280',
 '0278': 'A288',
 '0279': 'A289',
 '0300': 'A305',
 '0301': 'A301',
 '0302': 'A300',
 '0303': 'A303',
 '0308': 'A308',
 '0309': 'A309',
 '0310': 'A310',
 '0311': 'A311',
 '0312': 'A312',
 '0318': 'A318',
 '0319': 'A319',
 '0320': 'A360',
 '0321': 'A361',
 '0322': 'A3689',
 '0323': 'A362',
 '03281': 'A3686',
 '03282': 'A3681',
 '03283': 'A3689',
 '03284': 'A3685',
 '03285': 'A363',
 '03289': 'A3689',
 '0329': 'A369',
 '0330': 'A3700',
 '0331': 'A3710',
 '0338': 'A3780',
 '0339': 'A3790',
 '0340': 'J0300',
 '0341': 'A389',
 '035': 'A46',
 '0360': 'A390',
 '0361': 'A3981',
 '0362': 'A394',
 '0363': 'A391',
 '03640': 'A3950',
 '03641': 'A3953',
 '03642': 'A3951',
 '03643': 'A3952',
 '03681': 'A3982',
 '03682': 'A3983',
 '03689': 'A3989',
 '0369': 'A399',
 '037': 'A35',
 '0380': 'A409',
 '03810': 'A412',
 '03811': 'A4101',
 '03812': 'A4102',
 '03819': 'A411',
 '0382': 'A403',
 '0383': 'A414',
 '03840': 'A4150',
 '03841': 'A413',
 '03842': 'A4151',
 '03843': 'A4152',
 '03844': 'A4153',
 '03849': 'A4159',
 '0388': 'A4189',
 '0389': 'A419',
 '0390': 'L081',
 '0391': 'A420',
 '0392': 'A421',
 '0393': 'A422',
 '0394': 'B479',
 '0398': 'A438',
 '0399': 'B471',
 '0400': 'A480',
 '0401': 'A488',
 '0402': 'K9081',
 '0403': 'A488',
 '04041': 'A4851',
 '04042': 'A4852',
 '04081': 'M60009',
 '04082': 'A483',
 '04089': 'A488',
 '04100': 'B955',
 '04101': 'B950',
 '04102': 'B951',
 '04103': 'B954',
 '04104': 'B952',
 '04105': 'B954',
 '04109': 'B954',
 '04110': 'B958',
 '04111': 'B9561',
 '04112': 'B9562',
 '04119': 'B957',
 '0412': 'B953',
 '0413': 'B961',
 '04141': 'B9621',
 '04142': 'B9622',
 '04143': 'B9623',
 '04149': 'B9629',
 '0415': 'B963',
 '0416': 'B964',
 '0417': 'B965',
 '04181': 'B960',
 '04182': 'B966',
 '04183': 'B967',
 '04184': 'B9689',
 '04185': 'B9689',
 '04186': 'B9681',
 '04189': 'B9689',
 '0419': 'B9689',
 '042': 'B20',
 '04500': 'A8039',
 '04501': 'A8039',
 '04502': 'A8039',
 '04503': 'A8039',
 '04510': 'A8039',
 '04511': 'A8039',
 '04512': 'A8039',
 '04513': 'A8039',
 '04520': 'A804',
 '04521': 'A804',
 '04522': 'A804',
 '04523': 'A804',
 '04590': 'A809',
 '04591': 'A809',
 '04592': 'A809',
 '04593': 'A809',
 '0460': 'A8181',
 '04611': 'A8101',
 '04619': 'A8109',
 '0462': 'A811',
 '0463': 'A812',
 '04671': 'A8182',
 '04672': 'A8183',
 '04679': 'A8189',
 '0468': 'A8189',
 '0469': 'A819',
 '0470': 'A870',
 '0471': 'A870',
 '0478': 'A878',
 '0479': 'A879',
 '048': 'A880',
 '0490': 'A872',
 '0491': 'A871',
 '0498': 'A888',
 '0499': 'A89',
 '0500': 'B03',
 '0501': 'B03',
 '0502': 'B03',
 '0509': 'B03',
 '05101': 'B08010',
 '05102': 'B08011',
 '0511': 'B0803',
 '0512': 'B0802',
 '0519': 'B0804',
 '0520': 'B0111',
 '0521': 'B012',
 '0522': 'B0112',
 '0527': 'B0189',
 '0528': 'B0189',
 '0529': 'B019',
 '0530': 'B021',
 '05310': 'B0229',
 '05311': 'B0221',
 '05312': 'B0222',
 '05313': 'B0223',
 '05314': 'B0224',
 '05319': 'B0229',
 '05320': 'B0239',
 '05321': 'B0233',
 '05322': 'B0232',
 '05329': 'B0239',
 '05371': 'B028',
 '05379': 'B028',
 '0538': 'B028',
 '0539': 'B029',
 '0540': 'B000',
 '05410': 'A609',
 '05411': 'A6004',
 '05412': 'A6004',
 '05413': 'A6001',
 '05419': 'A6009',
 '0542': 'B002',
 '0543': 'B004',
 '05440': 'B0050',
 '05441': 'B0059',
 '05442': 'B0052',
 '05443': 'B0052',
 '05444': 'B0051',
 '05449': 'B0059',
 '0545': 'B007',
 '0546': 'B0089',
 '05471': 'B0081',
 '05472': 'B003',
 '05473': 'B001',
 '05474': 'B0082',
 '05479': 'B0089',
 '0548': 'B009',
 '0549': 'B009',
 '0550': 'B050',
 '0551': 'B052',
 '0552': 'B053',
 '05571': 'B0581',
 '05579': 'B0589',
 '0558': 'B0589',
 '0559': 'B059',
 '05600': 'B0600',
 '05601': 'B0601',
 '05609': 'B0609',
 '05671': 'B0682',
 '05679': 'B0689',
 '0568': 'B0689',
 '0569': 'B069',
 '0570': 'B083',
 '0578': 'L444',
 '0579': 'B09',
 '05810': 'B0820',
 '05811': 'B0821',
 '05812': 'B0822',
 '05821': 'B1001',
 '05829': 'B1009',
 '05881': 'B1081',
 '05882': 'B1082',
 '05889': 'B1089',
 '05900': 'B0809',
 '05901': 'B04',
 '05909': 'B0809',
 '05910': 'B0860',
 '05911': 'B0861',
 '05912': 'B0862',
 '05919': 'B0869',
 '05920': 'B0870',
 '05921': 'B0871',
 '05922': 'B0872',
 '0598': 'B088',
 '0599': 'B088',
 '0600': 'A950',
 '0601': 'A951',
 '0609': 'A959',
 '061': 'A90',
 '0620': 'A830',
 '0621': 'A831',
 '0622': 'A832',
 '0623': 'A833',
 '0624': 'A834',
 '0625': 'A835',
 '0628': 'A838',
 '0629': 'A839',
 '0630': 'A840',
 '0631': 'A848',
 '0632': 'A841',
 '0638': 'A848',
 '0639': 'A849',
 '064': 'A852',
 '0650': 'A980',
 '0651': 'A981',
 '0652': 'A982',
 '0653': 'A988',
 '0654': 'A920',
 '0658': 'A988',
 '0659': 'A99',
 '0660': 'A931',
 '0661': 'A932',
 '0662': 'A922',
 '0663': 'B331',
 '06640': 'A9230',
 '06641': 'A9231',
 '06642': 'A9232',
 '06649': 'A9239',
 '0668': 'A938',
 '0669': 'A94',
 '0700': 'B150',
 '0701': 'B159',
 '07020': 'B1911',
 '07021': 'B160',
 '07022': 'B181',
 '07023': 'B180',
 '07030': 'B1910',
 '07031': 'B161',
 '07032': 'B181',
 '07033': 'B180',
 '07041': 'B1711',
 '07042': 'B170',
 '07043': 'B172',
 '07044': 'B182',
 '07049': 'B178',
 '07051': 'B1710',
 '07052': 'B170',
 '07053': 'B172',
 '07054': 'B182',
 '07059': 'B189',
 '0706': 'B190',
 '07070': 'B1920',
 '07071': 'B1921',
 '0709': 'B199',
 '071': 'A829',
 '0720': 'B260',
 '0721': 'B261',
 '0722': 'B262',
 '0723': 'B263',
 '07271': 'B2681',
 '07272': 'B2684',
 '07279': 'B2689',
 '0728': 'B2689',
 '0729': 'B269',
 '0730': 'J17',
 '0737': 'A70',
 '0738': 'A70',
 '0739': 'A70',
 '0740': 'B085',
 '0741': 'B330',
 '07420': 'B3320',
 '07421': 'B3323',
 '07422': 'B3321',
 '07423': 'B3322',
 '0743': 'B084',
 '0748': 'B341',
 '075': 'B2790',
 '0760': 'A710',
 '0761': 'A711',
 '0769': 'A719',
 '0770': 'A740',
 '0771': 'B300',
 '0772': 'B302',
 '0773': 'B301',
 '0774': 'B303',
 '0778': 'B308',
 '07798': 'A7489',
 '07799': 'B309',
 '0780': 'B081',
 '07810': 'B079',
 '07811': 'A630',
 '07812': 'B070',
 '07819': 'B078',
 '0782': 'B338',
 '0783': 'A281',
 '0784': 'B088',
 '0785': 'B259',
 '0786': 'A985',
 '0787': 'A968',
 '07881': 'A881',
 '07882': 'R1111',
 '07888': 'A7489',
 '07889': 'B338',
 '0790': 'B970',
 '0791': 'B9712',
 '0792': 'B9711',
 '0793': 'B9789',
 '0794': 'B977',
 '07950': 'B9730',
 '07951': 'B9733',
 '07952': 'B9734',
 '07953': 'B9735',
 '07959': 'B9739',
 '0796': 'B974',
 '07981': 'B334',
 '07982': 'B9721',
 '07983': 'B343',
 '07988': 'A7489',
 '07989': 'B9789',
 '07998': 'A749',
 '07999': 'B9789',
 '080': 'A750',
 '0810': 'A752',
 '0811': 'A751',
 '0812': 'A753',
 '0819': 'A759',
 '0820': 'A770',
 '0821': 'A771',
 '0822': 'A772',
 '0823': 'A773',
 '08240': 'A7740',
 '08241': 'A7741',
 '08249': 'A7749',
 '0828': 'A778',
 '0829': 'A799',
 '0830': 'A78',
 '0831': 'A790',
 '0832': 'A791',
 '0838': 'A7989',
 '0839': 'A799',
 '0840': 'B509',
 '0841': 'B519',
 '0842': 'B529',
 '0843': 'B530',
 '0844': 'B538',
 '0845': 'B529',
 '0846': 'B54',
 '0847': 'B538',
 '0848': 'B508',
 '0849': 'B528',
 '0850': 'B550',
 '0851': 'B551',
 '0852': 'B551',
 '0853': 'B551',
 '0854': 'B551',
 '0855': 'B552',
 '0859': 'B559',
 '0860': 'B572',
 '0861': 'B575',
 '0862': 'B571',
 '0863': 'B560',
 '0864': 'B561',
 '0865': 'B569',
 '0869': 'B569',
 '0870': 'A680',
 '0871': 'A681',
 '0879': 'A689',
 '0880': 'A449',
 '08881': 'A6920',
 '08882': 'B600',
 '08889': 'B608',
 '0889': 'B64',
 '0900': 'A5009',
 '0901': 'A501',
 '0902': 'A502',
 '0903': 'A5031',
 '09040': 'A5045',
 '09041': 'A5042',
 '09042': 'A5041',
 '09049': 'A5049',
 '0905': 'A5059',
 '0906': 'A506',
 '0907': 'A507',
 '0909': 'A509',
 '0910': 'A510',
 '0911': 'A511',
 '0912': 'A512',
 '0913': 'A5139',
 '0914': 'A5149',
 '09150': 'A5143',
 '09151': 'A5143',
 '09152': 'A5143',
 '09161': 'A5146',
 '09162': 'A5145',
 '09169': 'A5149',
 '0917': 'A5149',
 '09181': 'A5141',
 '09182': 'A5132',
 '09189': 'A5149',
 '0919': 'A5149',
 '0920': 'A515',
 '0929': 'A515',
 '0930': 'A5201',
 '0931': 'A5202',
 '09320': 'A5203',
 '09321': 'A5203',
 '09322': 'A5203',
 '09323': 'A5203',
 '09324': 'A5203',
 '09381': 'A5206',
 '09382': 'A5206',
 '09389': 'A5209',
 '0939': 'A5200',
 '0940': 'A5211',
 '0941': 'A5217',
 '0942': 'A5213',
 '0943': 'A522',
 '09481': 'A5214',
 '09482': 'A5219',
 '09483': 'A5219',
 '09484': 'A5215',
 '09485': 'A5215',
 '09486': 'A5215',
 '09487': 'A5219',
 '09489': 'A5219',
 '0949': 'A523',
 '0950': 'A5271',
 '0951': 'A5272',
 '0952': 'A5274',
 '0953': 'A5274',
 '0954': 'A5275',
 '0955': 'A5277',
 ...}